<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-3">
      <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
      <%= render partial: 'shared/error_message', locals: { object: @user } %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= @user.email %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <%= f.submit t('helpers.submit.update'), class: "btn btn-outline-primary" %>
      <% end %>  
    </div>
  </div>
</div>
