<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><%= Task.human_attribute_name(:id) %></th>
            <td><%= @task.id %></td>
          </tr>
          <tr>
            <th scope="row"><%= Task.human_attribute_name(:name) %></th>
            <td><%= @task.name %></td>
          </tr>
          <tr>
            <th scope="row">作成者</th>
            <td><%= @task.user.decorate.full_name %></td>
          </tr>
          <tr>
            <th scope="row"><%= Task.human_attribute_name(:state) %></th>
            <td class="<%= task_state_class(@task.state) %>"><%= @task.state_i18n %></td>
          </tr>
          <tr>
            <th scope="row"><%= Task.human_attribute_name(:body) %></th>
            <td><%= @task.body %></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex">
        <button type="button" class="btn btn-success me-3"><%= link_to t('default.edit'), edit_admin_task_path(@task), class: 'link-light' %></button>
        <%= button_to t('default.delete'), admin_task_path(@task), class:'btn btn-danger', data: :delete %>
      </div>  
    </div>
  </div>
</div>