<div class="container user_create_form">
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <%= render partial: 'shared/error_message', locals: { object: @user } %>
      <%= form_with model: @user do |f| %>
        <div class="mb-3">
          <%= f.label :last_name, class: 'form_label' %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :first_name, class: 'form-label' %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: 'form-lael' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit '登録', class: "btn btn-outline-primary" %>         
      <% end %>
    </div>
    <div class="login_link d-flex justify-content-center">
      <%= link_to 'ログインページへ', new_user_sessions_path, class: 'link-body-emphasis' %>
    </div>  
  </div>
</div>