<header class='before_logged_in_header'>
<nav class="navbar navbar-expand-lg bg-body-tertiary ps-5 navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid mt-3">
    <a class="navbar-brand" href='/'><h1>タスク管理アプリ</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item me-5">
          <%= link_to t('header.task_index'), tasks_path, class: 'link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover', style: 'font-size: 20px;' %>
        </li>
        <li class="nav-item me-5">
          <%= link_to t('header.calender_index'), '#', class: 'link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover', style: 'font-size: 20px;' %>
        </li>
      </ul>
      <div class="dropdown me-5">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag 'sakana.jpg', class: "rounded-circle", size: '40x40' %>
        </a>  
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to t('header.profile'), "#", class: "dropdown-item" %></li>
          <li><%= link_to t('header.edite_profile'), "#", class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to t('header.logout'), user_sessions_path, class: "dropdown-item", date: { turbo_method: :delete } %></li>
        </ul>
      </div>  
    </div>
  </div>
</nav>
</header>