<div class="simple-calendar">
  <div class="calendar-heading my-4">
    <h2 class="mb-3"><i class="bi bi-calendar-event me-2"></i>タスクカレンダー</h2>
    <nav>
      <div class="d-flex align-items-end">
        <h5><i class="bi bi-chevron-double-left"></i><%= link_to t('simple_calendar.previous'), calendar.url_for_previous_view, class: "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" %></h5>
        <h3><span class="mx-3"><time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time></span></h3>
        <h5><%= link_to t('simple_calendar.next'), calendar.url_for_next_view, class: "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" %><i class="bi bi-chevron-double-right"></i></h5>
        <%= link_to t('tasks.index.new_create'), new_task_path, class: "btn btn-secondary ms-3" %>
      </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
