<tr>
  <td><%= user.id %></td>
  <td><%= user.full_name %></td>
  <td><%= user.role_i18n %></td>
  <td><%= user.email %></td>
  <td><button type="button" class="btn btn-primary"><%= link_to t('default.show'), admin_user_path(user), class: 'link-light' %></button></td>
  <td><button type="button" class="btn btn-success"><%= link_to t('default.edit'), edit_admin_user_path(user), class: 'link-light' %></button></td>
  <td><%= button_to t('default.delete'), admin_user_path(user), method: :delete, class: 'btn btn-danger' %></td>
</tr>